@charset "UTF-8";

body	{
        background: rgb(220,220,220);
        color: rgb(47,79,79);
}

a:link	{
	color: rgb(72,61,139);
}

a:visited	{
	color:	rgb(85,107,47);
}

a:active	{
	color: rgb(85,107,47);
}

p	{
        text-indent: 12pt;
        line-height: 18pt;
}

dl	{
        margin-left: 2%;
        margin-right: 2%;
        padding: 5;
        border-style: inset;
	border-width: thick;
        border-color: rgb(30,144,255);
        background: rgb(253,245,230);
}

ul p	{
        text-indent: 0pt;
        margin: 0pt;
        line-height: 12pt;
	padding: 4pt;
}

h1	{
        font-size: 24pt;
}

h2	{
        font-size: 20pt;
}

h3	{
        font-size: 18pt;
}

h4	{
        font-size: 16pt;
}

br	{
	clear: both;
}

.dt	{
        display: block;
        font-weight: bolder;
        border-style: solid;
        border-width: 2pt 5pt 5pt 3pt;
        border-color: rgb(0,128,128);
	background-color: rgb(255,255,255);
}

.red	{
        color: rgb(255,0,0);
}

.blue	{
        color: rgb(0,0,255);
}


.preface	{
        text-align: center;
}

.modefied	{
        text-align: right;
}

.sesl	{
	text-align: center;
}

.references	{
	list-style-type: none;
}

.refbox	{
        margin-left: 2%;
        margin-right: 2%;
        padding: 5;
        border-style: inset;
	border-width: thick;
        border-color: rgb(30,144,255);
        background: rgb(253,245,230);
}

.denchu	{
	float: right;
}
